<div class="feed-toggle">
  <ul class="nav nav-pills outline-active">
    <li class="nav-item">
      <a class="nav-link active" href="#">Article List</a>
    </li>
  </ul>
</div>

<ng-container
  *ngFor="let item of list, let idx = index, let first = first, let last = last, let odd = odd, let even = even">
  <!-- <div class="post-preview" *ngIf="even"> -->
  <div class="post-preview">
    <div class="post-meta">
      <a href="profile.html">
        <img src="http://i.imgur.com/Qr71crq.jpg" />
      </a>
      <div class="info">
        <a href="profile.html" class="author">Eric Simons</a>
        <span class="date">{{ item.createdAt | date:'yyyy-MM-dd' }}</span>
      </div>
      <button class="btn btn-outline-primary btn-sm pull-xs-right">
        <i class="ion-heart"></i> 29
      </button>
    </div>
    <a href="post.html" class="preview-link">
      <h1 [class.odd-title]="odd">{{ item.title }} ({{ idx }})</h1>
      <p>{{ item.description }}</p>
      <span>Read more...</span>
    </a>

  </div>
</ng-container>
